# Node modules
node_modules
npm-debug.log
yarn-error.log

# Build output
.next
out

# Docker files
Dockerfile
.dockerignore

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# IDE and editor files
.vscode
.idea
*.swp
*~

# OS specific files
.DS_Store
Thumbs.db

# Test and coverage reports
coverage
jest

# Miscellaneous
*.tgz
*.zip
*.tar
